{
  "arrowParens": "always",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "proseWrap": "never",
  "singleQuote": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false
}
