.flexMain {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.featureSvg {
	height: 200px;
	width: 200px;
	margin: 0 100px;
}

@media screen and (max-width: 1039px) {
	.flexMain {
		flex-direction: column;
	}
}
