@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import '~lxgw-wenkai-screen-webfont/style.css';

@font-face {
  font-family: FiraCode-Regular;
  src: url('../../static/fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  /* --ifm-background-color: rgb(245, 241, 237); */
  /* --ifm-color-primary: rgb(37, 194, 160);
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208); */
  --ifm-color-primary: #4338ca;
  --ifm-color-primary-dark: #3b31b7;
  --ifm-color-primary-darker: #382ead;
  --ifm-color-primary-darkest: #2e268f;
  --ifm-color-primary-light: #564ccf;
  --ifm-color-primary-lighter: #6057d2;
  --ifm-color-primary-lightest: #7d75da;

  --ifm-color-secondary: #9f7aea; /* 基础紫色（Purple-400） */
  --ifm-color-secondary-dark: #805ad5; /* 紫色稍暗 */
  --ifm-color-secondary-darker: #6b46c1; /* 紫色更暗 */
  --ifm-color-secondary-darkest: #553c9a; /* 紫色最暗 */
  --ifm-color-secondary-light: #b794f4; /* 紫色稍亮 */
  --ifm-color-secondary-lighter: #d6bcfa; /* 紫色更亮 */
  --ifm-color-secondary-lightest: #e9d8fd; /* 紫色最亮 */

  /* --ifm-footer-background-color:rgb(209 213 219); */
  --ifm-footer-background-color: #d1d5db;

  --ifm-code-font-size: 90%;
  --ifm-leading: 0.7rem;
  --ifm-list-paragraph-margin: 0.6rem;
  --ifm-paragraph-margin-bottom: 0.6rem;
  --ifm-font-family-base: 'LXGW WenKai Screen', FiraCode-Regular, avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  --ifm-font-family-monospace: FiraCode-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

[data-theme='dark'] {
  --ifm-color-primary: #818cf8; /* 淡紫色，作为主色调 */
  --ifm-color-primary-dark: #6366f1; /* 深紫色 */
  --ifm-color-primary-darker: #4f46e5; /* 更深的紫色 */
  --ifm-color-primary-darkest: #4338ca; /* 最深的紫色 */
  --ifm-color-primary-light: #a5b4fc; /* 浅紫色 */
  --ifm-color-primary-lighter: #c7d2fe; /* 更浅的紫色 */
  --ifm-color-primary-lightest: #e0e7ff; /* 最浅的紫色 */

  --ifm-color-secondary: #a78bfa; /* 次要色调，淡淡的紫罗兰色 */
  --ifm-color-secondary-dark: #8b5cf6; /* 深紫罗兰色 */
  --ifm-color-secondary-darker: #7c3aed; /* 更深的紫罗兰色 */
  --ifm-color-secondary-darkest: #6d28d9; /* 最深的紫罗兰色 */
  --ifm-color-secondary-light: #c4b5fd; /* 浅紫罗兰色 */
  --ifm-color-secondary-lighter: #ddd6fe; /* 更浅的紫罗兰色 */
  --ifm-color-secondary-lightest: #ede9fe; /* 最浅的紫罗兰色 */

  --ifm-background-color: #0f172a; /* 背景色 */
  --ifm-footer-background-color: #1a202c; /* 深灰色，低调协调 */
}
.color-primary {
  color: var(--ifm-color-primary);
}
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] {
  /* --ifm-color-primary: #4e89e8;
  --ifm-color-primary-dark: #5a91ea; */
  /* 任何你要覆盖的其它颜色 */
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
.token.comment {
  white-space: break-spaces;
}

code {
  border: none;
  border-radius: unset;
}
.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.card {
  @apply border-0 rounded-t-none rounded-lg  border-b-2 border-solid border-[var(--ifm-color-secondary)] shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out dark:shadow-gray-700/40;
}

.shine-text {
  font-weight: 800;
  /* letter-spacing: var(--ls); */
  position: relative;
  overflow: hidden;
  margin: 0;
  color: transparent; /* 使文本颜色透明 */
  background-image: linear-gradient(
    45deg,
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4)
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 3s linear infinite;
  z-index: 3;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
